*,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 100px;
  background-color: black;
  color: #fff;
}

form input,
form textarea {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  outline: none;
}

form input {
  height: 40px;
  font-size: 18px;
}

form input::placeholder,
form textarea::placeholder {
  color: #ccc;
  font-weight: 500;
  text-transform: uppercase;
}

body {
  font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
  overflow-x: hidden;
}

.primary {
  color: #b28756;
}

.bg-primary {
  background-color: #b28756;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.btn {
  height: 40px;
  width: 250px;
  border-radius: 100px;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.btn-sm {
  width: 150px;
  height: 50px;
}

.btn-dark {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.btn-primary {
  background-color: #b28756;
  color: #fff;
  font-weight: bold;
}

.header-content {
  max-width: 1440px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;

  padding: 0px 15px 0px 15px;
}

.menu-hamburguer {
  display: none;
  height: 30px;
}

.logo {
  width: 100px;
}

.logoImg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #b28756;
}

#menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#menu ul {
  display: flex;
}

#menu li a {
  text-transform: uppercase;
  padding: 10px 15px;
  color: inherit;
  font-weight: 600;
  display: flex !important;
  align-items: center;
  height: 100px;
  border-bottom: 5px solid #000;
}

#menu li a:hover,
#menu .active a {
  color: #ccc;
  border-bottom: 5px solid #b28756;
}

.banner-carousel {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url("../images/bg.jpg");
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

.banner-carousel .carousel-inner {
  width: 1000vw;
  height: 100%;
}

.banner-carousel .carousel-item {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner-carousel .carousel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.banner-carousel .carousel-content h1 {
  font-size: 48px;
  text-transform: uppercase;
}

.banner-carousel .carousel-content h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner-carousel .carousel-indicators {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-carousel .carousel-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #b28756;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.banner-carousel .carousel-indicators .carousel-indicator.active {
  background-color: #b28756;
}

.section {
  padding: 50px 0px 50px 0px;
}

.section-title,
.section-description {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.section-title {
  font-size: 32px;
}

.section-description {
  font-size: 14px;
  color: #707070;
  margin: 10px 0px 40px 0px;
}

.section-content {
  margin: auto;
  max-width: 1140px;
}

.section.dark {
  background-color: #000;
}

.section.dark .section-title,
.section.dark .section-content {
  color: #fff;
}

.section.light {
  background-color: #f7f7f7;
}

.section.light .section-title,
.section.light .section-content {
  color: #000;
}

/* CSS de ÁREAS ESPECÍFICAS */
.section-aboutus {
  display: flex;
}

.section-aboutus--left {
  flex: 1;
}

.section-aboutus--right {
  width: 520px;
  text-align: center;
}

.section-aboutus--right img {
  width: 350px;
  box-shadow: 0px 5px 10px #333;
}

.section-aboutus--left p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 25px;
}

.section-services {
  display: flex;
}

.section-service {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 15px;
  border-right: 1px solid #333;
}

.section-service:first-child {
  border-left: 1px solid #333;
}

.section-service img {
  height: 70px;
  margin-bottom: 25px;
}

.section-service h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-service p {
  font-size: 14px;
  color: #999;
  border-radius: 50px;
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--projects-nav {
  display: inline-block;
  padding: 0px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #eeee;
}

.section-projects--projects-nav ul {
  display: flex;
  height: 100%;
}

.section-projects--projects-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-right: 1px solid #ccc;
  border-bottom: 5px solid #eee;
}

.section-projects--projects-nav li:last-child {
  border-right: none;
}

.section-projects--projects-nav li a {
  text-transform: uppercase;
  font-weight: 600;
  color: #888;
}

.section-projects--projects-nav li:hover,
.section-projects--projects-nav li.active {
  cursor: pointer;
  border-bottom: 5px solid #b28756;
}

.section-projects--gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-projects--photo {
  width: 280px;
}

.section-projects--photo-container {
  margin: 10px;
  width: 260px;
  height: 160px;
}

.section-projects--photo-container img {
  width: inherit;
  height: inherit;
}

.section-projects--photoinfo {
  display: none;
  flex-direction: column;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-projects--photo-container:hover .section-projects--photoinfo {
  display: flex;
}

.section-projects--photoinfo h5,
.section-projects--photoinfo p {
  color: #fff;
  text-align: center;
}

.section-projects--photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
}

.bg-ourteam {
  background-image: url("../images/bg-ourteam.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px 0px;
}

.section-ourteam-container {
  padding: 80px 0px;
  background-color: rgb(0, 0, 0, 0.8);
}

.section-ourteam {
  background-position: bottom;
  background-size: cover;
  /* 3 x slides(280px + 20px (margem)) - a margem do ultimo*/
  max-width: 880px;
  overflow: hidden;
  margin: auto;
  color: #000;
}

.section-ourteam .carousel-inner {
  width: 1000vw;
  height: 100%;
}

.section-ourteam .carousel-item {
  width: 280px;
  min-height: 300px;
  background-color: #fff;
  height: 100%;
  margin-right: 20px;
  display: inline-block;
  padding: 30px;
}

.section-ourteam .carousel-content .avatar {
  height: 150px;
  border-radius: 75px;
}

.section-ourteam .carousel-content h3 {
  margin-top: 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.section-ourteam .carousel-content p {
  font-size: 14px;
  margin: 5px 0px 20px 0px;
  color: #999;
}

.section-ourteam .carousel-content a img {
  background-color: #ccc;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.section-ourteam .carousel-content a img:hover {
  background-color: #b28756;
}

.section-ourteam .carousel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section-ourteam .carousel-indicators {
  height: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-ourteam .carousel-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #b28756;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.section-ourteam .carousel-indicators .carousel-indicator.active {
  background-color: #b28756;
}

.section-clients-reviews {
  overflow: hidden;
}

.section-clients-reviews .carousel-inner {
  width: 1000vw;
  height: 100%;
}

.section-clients-reviews .carousel-inner .avatar {
  height: 180px;
  width: 180px;
}

.section-clients-reviews .carousel-item {
  width: 100vw;
  height: 100%;
  display: inline-block;
}

.section-clients-reviews .carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section-clients-reviews .carousel-content h3 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 30px 0px 5px 0px;
}

.section-clients-reviews .carousel-content h4 {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 30px;
}

.section-clients-reviews .carousel-content p {
  color: #999;
  line-height: 25px;
  margin: 20px;
  text-align: center;
}

.section-clients-reviews .carousel-indicators {
  width: 100vw;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-clients-reviews .carousel-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #b28756;
  margin: 5px;
  cursor: pointer;
}

.section-clients-reviews .carousel-indicators .carousel-indicator.active {
  background-color: #b28756;
}

.section-partners--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  max-width: 1140px;
}

.section-partners--container img {
  height: 50px;
  width: auto;
  margin: 20px 30px;
}

/* Prices */
.section-prices {
  display: flex;
  flex-wrap: wrap;
}

.section-prices--card {
  padding: 30px;
  background-color: #fff;
  width: 265px;
  margin: 0px 10px;
}

.section-prices--card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-prices--card h1,
.section-prices--card h2,
.section-prices--card p {
  /* text-align: center; */
}

.section-prices--card .title {
  font-size: 18px;
  text-transform: uppercase;
  color: #888;
}

.section-prices--card .value {
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.section-prices--card .month {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-prices--card .item {
  font-size: 14px;
  font-weight: 600;
  color: #888;
  margin-bottom: 16px;
}

/* Some Facts */
.section-some-facts {
  display: flex;
}

.section-some-fact {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 15px;
}

.section-some-fact h1 {
  color: #b28756;
  display: block;
  font-size: 52px;
  margin-bottom: 10px;
}

.section-some-fact h2 {
  font-size: 18px;
  height: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-some-fact h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-some-fact p {
  font-size: 14px;
  color: #999;
  border-radius: 50px;
}

.section-premium {
  display: flex;
}

.section-premium--left {
  width: 380px;

  margin: auto;
}

.section-premium--right {
  flex: 1;
  padding: 30px;
}

.section-premium--right .item {
  display: flex;
  flex-direction: row;
  margin-right: 250px;
  margin-top: 20px;
}

.section-premium--right .item .item-check {
  margin-right: 20px;
}

.section-premium--right .item .item-content h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.section-premium--right .item .item-content p {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
}

.section-social--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1140px;
}

.section-social--container h1 {
  text-transform: uppercase;
  color: #999;
  font-size: 18px;
  margin-right: 45px;
}

.section-social--container img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.section-social--container .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 25px;
  /* background-color: red; */
}

.section-social--container .icon img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.section-social--container .icon p {
  font-size: 16px;
  color: #999;
  font-weight: 600;
}

.section-contact .row {
  display: flex;
  flex: 1;
  margin: 40px 0px;
}

.section-contact .row:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-contact .row input {
  width: 100%;
  margin: 0px 10px;
}

.section-map {
  background-image: url('../images/mapa.jpg');
  background-size: cover;
  background-position: center;
  min-height: 300px;
  padding: 30px 0px;
}

.section-map .section-map--container {
  max-width: 1140px;
  margin: auto;
}

.section-map--info {
  max-width: 50%;
  padding: 40px;
  color: 0;
  background-color: #ffff;
}

.section-map--info-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #999;
  margin-top: 15px;
}


.section-map--info-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 15px;
}

.section-map--info-item-icon img {
  height: 18px;
  width: auto;
}

footer {
  padding: 40px 0px;
  color: #fff;
  background-color: #000;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1140px;
  margin: auto;
}

.footer-content .col {
  width: 380px;
}


.footer-content .col.description {
  font-size: 14px;
  color: #ccc;
  font-weight: 500;
  line-height: 25px;
}

.footer-content .col.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-content .col.newsletter form input::placeholder {
  text-align: center;
}

.footer-content .col.newsletter form button {
  margin-top: 35px;
}

.footer--social-icons {
  display: flex;
}

.footer--social-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8888;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.footer--social-icons .icon:hover {
  background-color: #b28756;
  cursor: pointer;
}

.footer--social-icons .icon img {
  height: 18px;
  width: auto;
}

.footer-message {
  font-weight: 800;
  font-size: 14px;
  margin-top: 14px;
  margin-left: 50px;
}

.footer-message a:hover {
  color: #b28756;
}

@media (min-width: 450px) and (max-width: 800px) {

  .header-content {
    justify-content: space-between;
    margin: 0px 20px;
  }


  .menu-hamburguer {
    display: inline;
  }

  #menu {
    width: 60vw;
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;
    top: 100px;
    position: absolute;
    z-index: 99;
    display: none;
  }

  #menu {
    /* width: 50vw; */
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;
    top: 100px;
    position: absolute;
    z-index: 99;
  }

  #menu ul {
    flex-direction: column;
    width: 100vw;
    margin: 45px
  }

  #menu ul li {
    height: 40px;
    margin: 5px 0px;
  }

  #menu li a {
    font-weight: bold !important;
    font-size: 22px;
    border: 0;
  }

  #menu li a:hover,
  #menu .active a {
    color: #b28756cc;
    border-bottom: 0;
  }

  .section-aboutus {
    flex-direction: column;
    margin: 0px 30px
  }

  .section-aboutus .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .section-aboutus .section-aboutus--right {
    width: 100vw;
  }

  .section-aboutus .section-aboutus--right img {
    width: 350px;
  }

  .section-services {
    flex-wrap: wrap;
  }

  .section-service {
    min-width: 50%;
    border: 0;
    margin-bottom: 25px;
  }

  .section-ourteam {
    max-width: 580px;
  }

  .section-clients-reviews .carousel-content p {
    padding: 0 30px;
  }

  .section-partners--container img {
    width: 20%;
    height: auto;
  }

  .section-prices {
    justify-content: center;
    align-items: center;
  }

  .section-prices--card {
    margin-bottom: 20px;
  }

  .section-premium {
    flex-wrap: wrap;
  }

  .section-premium--right .item {
    margin-top: 40px;
  }


  .section-social--container h1 {
    display: none;
  }

  .section-some-facts {
    padding: 0px 30px;
  }

  .share-icon {
    display: none;
  }

  .section-map {
    padding: 30px;
  }

  .section-contact {
    padding: 0 30px;
  }

  .section-map--info {
    max-width: 100%;
    border: 1px solid #ccc;
  }

  .section-map--info-item {
    margin-top: 25px;
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-content .col {
    width: 100%;
    margin: 10px 40px
  }


}